
.main-cart{
    width: 100%;
    height: 100vh;
    /* background-color: rgb(150, 194, 145); */
    /* background-color: white; */
    background-color: white;
}


.container{
   
   
    padding-top: 100px;
   
   
}

.img-td{
    width: 500px;
}

.cart-icon{
    font-size: 20px;
    text-align: center;
    
}

.icom{
    color: rgb(212, 51, 51);
    margin-left: 50px;
}

.cart-img{
    width: 100px;
    height: 100px;
}

.cart-td{
    color: black;
    font-size: 20px;
    text-align: center;
   
}

.tda-cart{
    color: blue;
    font-size: 18px;
    cursor: pointer;
}

.cart-btn{
    border-radius: 10px;
    background-color: rgb(56, 154, 169);
    color: white;
    font-size: 20px;
    border:none;
    margin-left: 25px;
   
}

.btn-td{
    text-align: center;
}



.total-box{
   
    display: flex;
    justify-content: end ;
    /* background-color: rgb(173, 196, 206); */
    padding-right: 200px;
   
}

@media (max-width:800px){
    .total-box{
        padding-right:50px;
    }
}

@media (max-width:400px){
    .total-box{
        padding-right:20px;
    }
}


#btn-cart{
   border: none;
   background-color: rgb(64, 14, 228);
   color: white;
   height: 40px;
   width: 100px;
   margin-bottom: 5px;
   font-weight: bold;
   border-radius: 10px;
   

}







.table-cart{

    margin-top: 50px;

}

.empty-cart{

    width: 100%;
   height: 80vh;
   /* background-color: white; */
    display: flex;
    justify-content: center;
    align-items: center;

}

.empty-img-cart{

    width: 300px;
    height: 300px;

}

.loding-cat{

    width: 100%;
    height: 100vh;
 
    display: flex;
    justify-content: center;
    align-items: center;

}

.loding-img-cart{

    width: 200px;
    height: 200px;

}

.number-counter{
    background-color: rgb(5, 75, 75);
    color: white;
    border-radius: 5px;
   display: flex;
   justify-content: center;
   align-items: center;
}






.cart-box-main{

      width: 600px;
      height: 200px;
      background-color: rgb(248, 236, 236);
      margin-left: 300px;
      padding-top: 20px;
      padding-left: 20px;
      display: flex;
      margin-bottom: 10px;


      
}

@media (max-width:1000px){
    .cart-box-main{

        margin-left: 50px;
    }
}



@media(max-width:500px){

    .cart-box-main{
        width: 370px;
        margin-left:0;
    }
}






.img-new{

    width: 100%;
    height: 100%;
}


.cart-img-box-new{

     width: 150px;
     height: 150px;
    
     
    

}

.text-box-new{

     width: 300px;
     height: 130px;
    
     margin-left: 30px;
}


.cart-title-new{
    text-align: center;
    font-size: 20px;
}

.rating-span-new{
    margin-left: 10px;
}

.cart-price-new{

    margin-left: 10px;
}

.cart-btn1-new{

    margin-left: 60px;
    border: none;
    background-color: rgb(7, 167, 167);
    border-radius: 10px;
    color: white;
}


.cart-btn2-new{

    border: none;
    background-color: rgb(7, 167, 167);
    border-radius: 10px;
    color: white;

}



